@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  color: #333333;
}

/* 스크롤바 디자인 */

::-webkit-scrollbar {
  width: 8px;
  border-radius: 99px;
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 99px;
}

* {
  font-family: "Pretendard-Regular";
  color: #333333;
}

/* 사이드바 디자인 */
.btn-container {
  position: absolute;
  z-index: 99;
  height: 100%;
  right: 0;
  display: flex;
}

/* 탭바 디자인 */

.tabbtn-container {
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 64px;
}

.tab {
  display: flex;
  height: 48px;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: #ffffff40;
}

.tab:nth-child(1) {
  border-top-left-radius: 8px;
  overflow: hidden;
}

.tab:nth-child(4) {
  border-bottom-left-radius: 8px;
  overflow: hidden;
}

.tab > input {
  display: none;
}

.tab-text {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

input[type="radio"]:checked + .tab-text {
  font-weight: 800;
  background-color: #dddddd30;
}
/* 중간텍스트 */
.text {
  font-size: 20px;
  padding: 24px 12px;
  text-align: center;
  line-height: 160%;
  font-weight: 600;
  background-color: #dddddd30;
}

/* 물체 선택창 디자인 */

.object-wrapper {
  background-color: #ffffff40;
  width: 100%;
}
.object-container {
  width: calc(100% - 24px);
  height: calc(100% - 48px);
  background-color: #dddddd30;
  display: grid;
  flex-wrap: wrap;
  padding: 12px;
  gap: 12px 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(110px, auto));

  overflow-y: scroll;
}

.object-container > div {
  width: 110px;
  height: 110px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  border-radius: 8px;
}

.object-container > div:hover {
  background-color: #ffffff60;
  transition: 0.3s;
}

.hidden {
  display: none;
}
