@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  color: #333333;
}

/* 스크롤바 디자인 */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 99px;
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 99px;
}

* {
  font-family: "Pretendard-Regular";
  color: #333333;
}
/* 시작페이지 */
a-scene {
  z-index: 1;
}

.startpage,
.secondpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 96px;
  align-items: center;

  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff60;
  backdrop-filter: blur(4px);
}

h1 {
  font-size: 48px;
  color: #ffffff;
}

.info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 96px;
  margin: 0 auto;
}

.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.mouse {
  height: 290px;
}

.wasd {
  height: 256px;
}

.detail {
  color: #ffffff;
  font-size: 24px;
}

.left {
  fill: none;
  animation: click 2s infinite;
}
#mouse {
  animation: moving 3s infinite;
  transition: 0.5s;
}

.startcontainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.titlecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titlecontainer > span {
  color: #ffffff;
}

button {
  width: auto;
  height: 60px;
  padding: 0px 70px;
  background-color: #ffffff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1893ec;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  background-color: #6db3e6 !important;
  color: #ffffff;
  font-weight: 600;
  transition: 0.5s;
}

button:active {
  background-color: #1893ec;
  color: #ffffff;
  font-weight: 600;
  transition: 0.3s;
}

.modal {
  display: none;
  position: absolute;
  flex-direction: column;

  width: 80%;
  height: 80%;
  background-color: #00000099;
  border-radius: 48px;
  top: 10%;
  left: 10%;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.stop {
  position: absolute;
  z-index: 999;
  border: 4px solid #333333;
  color: #333333;
  bottom: 24px;
  transform-origin: center center;
  transform: translate(-50%);
  left: 50%;
}
.modal > span {
  font-size: 48px;
  text-align: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.show {
  display: flex;
  z-index: 999;
}

@keyframes click {
  0% {
    fill: #ffffff00;
    transition: 1s;
  }
  50% {
    fill: #ffffff80;
    transition: 1s;
  }
  100% {
    fill: #ffffff00;
    transition: 1s;
  }
}

@keyframes moving {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(20px);
  }
  66% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* 두번째 선택지 디자인 */
h2 {
  font-size: 32px;
  color: #ffffff;
}

.ground {
  width: 440px;
  height: 440px;

  cursor: pointer;
  background-color: #ffffff60;
  border-radius: 12px;

  background-position: center;
  background-size: cover;

  transition: 0.5s;
}

.ground:hover {
  background-color: #ffffff90;
}

.ground1 {
  background-image: url(./Img/ground/ground1.png);
}
.ground2 {
  background-image: url(./Img/ground/ground2.png);
}

.ground3 {
  background-image: url(./Img/ground/ground3.png);
}

/* 액션버튼 */
.actionButtonContainer {
  position: absolute;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  bottom: 50px;
  right: 80px;
}

.action {
  pointer-events: all;
  width: 170px;
  font-size: 16px;
  padding: 0;
  height: 50px;
}

.next {
  background-color: #1893ec !important;
  color: #ffffff;
}

.next:active {
  background-color: #ffffff !important;
  color: #1893ec;
}

/* 사이드바 디자인 */
.btn-container {
  position: relative;
  z-index: 99;
  bottom: 0;
  height: 100%;
  display: flex;
  pointer-events: none;
}

/* 탭바 디자인 */

.tabbtn-container {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  pointer-events: all;
  gap: 12px;
  width: 72px;
  padding: 12px 0px;
  left: 80px;
  transform: translate(0%, -50%);
  top: 50%;
  border-radius: 999px;
  background-color: #ffffff40;
}

.tab {
  display: flex;
  height: 48px;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.tab > input {
  display: none;
}

.tab-text {
  width: 48px;
  height: 48px;

  border-radius: 999px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

.rock-thumb {
  background-image: url(./Img/rock/rock1.png);
}
.wood-thumb {
  background-image: url(./Img/wood/wood1.png);
}
.seaweed-thumb {
  background-image: url(./Img/seaweed/seaweed1.png);
}
.coral-thumb {
  background-image: url(./Img/coral/coral1.png);
}

input[type="radio"]:checked + .tab-text {
  font-weight: 800;
  background-color: #ffffff;
}
/* 중간텍스트 */
.text {
  display: flex;
  font-size: 20px;
  padding: 24px 12px;
  text-align: center;
  line-height: 160%;
  font-weight: 600;
  width: calc(68px - 24px);
  background-color: #dddddd30;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text > span {
  color: #ffffff;
}

/* 물체 선택창 디자인 */

.object-wrapper {
  pointer-events: all;
  position: absolute;
  background-color: #ffffff40;
  width: 1256px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  left: 80px;
  bottom: 50px;
}
.object-container {
  width: calc(100% - 136px);
  height: 188px;

  display: flex;
  padding: 12px 12px 0px;
  gap: 24px;
  align-items: center;

  overflow-x: scroll;
}

.object-container > div {
  width: 160px;
  min-width: 160px;
  height: 160px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  border-radius: 8px;
}

.object-container > div:hover {
  background-color: #ffffff60;
  transition: 0.3s;
}

.hidden {
  display: none;
}
